{% extends 'base.html.twig' %}

{% block body %}
    <div class="layout-base">
        <div class="layout-menu">
            {{ include('dashboard/_menu.html.twig') }}
        </div>
        <div class="layout-main"></div>
    </div>
{% endblock %}