{% extends 'base.html.twig' %}

{% block body %}
    <div class="layout-base">
        <nav class="layout-menu">
            {{ include('dashboard/_menu.html.twig') }}
        </nav>
        <main class="layout-main">
            {% block content %}
            {% endblock %}
        </main>
    </div>
{% endblock %}