<div class="layout-menu-inner">
    <button class="layout-menu-item active">
        <i class="fa-solid fa-house"></i>
    </button>
    <button class="layout-menu-item">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="layout-menu-item">
        <i class="fa-solid fa-comment"></i>
    </button>
    <button class="layout-menu-item">
        <i class="fa-solid fa-compact-disc"></i>
    </button>
    <button class="layout-menu-item">
        <i class="fa-solid fa-gear"></i>
    </button>
</div>